CONFIG_ULP_COPROC_ENABLED=y
CONFIG_ULP_COPROC_TYPE_LP_CORE=y
CONFIG_ULP_COPROC_RESERVE_MEM=8128
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_DEMO_HP_HOLD_TIME_MS=10000
CONFIG_DEMO_PULSE_INTERVAL_MS=1000
CONFIG_DEMO_PULSES_PER_WAKEUP=30
