name: Build with IDF-CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        idf_ver: ["release-v5.4", "release-v5.5", "release-v6.0", "latest"]
    
    container:
      image: espressif/idf:${{ matrix.idf_ver }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      
      - name: Install idf-build-apps
        run: |
          pip install --upgrade idf-build-apps idf-ci
      
      - name: Build projects
        run: |
          idf-ci build run
